.conteiner{
    background-color:rgb(24, 24, 24) ;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin: 3vh;
    
}

.input{
    font-family: 'Fredoka', sans-serif;
    max-width: 50%;
    max-height: 5vh;
    padding: 1vh;
    border: none;
    outline: none;
    background-color: transparent;
}
.input[type='submit']{
    margin: 0;
    border: none;
   height:100%;
   background:blue;
}